<p id="notice"><%= notice %></p>

<h2>Single Housings</h2>

<hr>

  <div>
    <% @single_housings.each do |single_housing| %>
      <div>
        <p><%= single_housing.title %></p>
        <p><%= single_housing.description %></p>
        <p><%= link_to 'Show', single_housing %></p>
        <p><%= link_to 'Edit', edit_single_housing_path(single_housing) %></p>
        <p><%= link_to 'Delete', single_housing, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    <% end %>
  </div>
</table>

<br>

<%= link_to 'Create a new Single Housing', new_single_housing_path %>